
body{
	background-color:rgb(244, 237, 237);
}

*{
	margin: 0px;
	padding: 0px;
}

#container{
	width: 800px;
	margin:0 auto;
	margin-top: 2px;
}

#container ul{
	list-style: none;
}

#container ul li{
	background-color: rgb(238, 162, 162);
	width: 200px;
	border: 1px solid white;
	height: 50px;
	line-height: 50px;
	text-align: center;
	float: left;
	font-size: 24px;
	position: relative;
	font-style: Bold;
}

#container ul li:hover{
	background-color: lightcoral;
}

#container ul ul{
	display: none;
}

#container ul li:hover > ul{
	display: block;
}

#container ul ul ul{
	margin-left: 200px;
	top: 0px;
	position: absolute;
}

a:link{
	text-decoration:none;
}